<h1>My Addresses</h1>
<section>
  <% @addresses.each do |address| %>
    <article id='address-<%= address.id %>'>
      <p><%= address.name.capitalize %></p>
      <p><%= address.address %></p>
      <p><%= "#{address.city}, #{address.state} #{address.zip}" %></p>
    </article>
  <% end %>
</section>